html, body {
	height: 100%;
	margin: 0;
	font-family: Arial;
	font-size: 20px
}
body{
	display:flex;
	counter-reset: pointNum;
}

#map {
	flex: 75%;
	height: 100%;
	
}
.leaflet-right{right:calc(25% + 40px);}
#ui-datepicker-div{z-index:10000 !important;}
#map.loading{background-color: lightgray}
.myTooltip{
	border-color: red;
	border-radius: 10px	 
}
#controls{
	border-radius: 0px 0px 0px 30px;
	position: absolute;
    padding: 20px;
    top: 0px;
    right: 0px;
    width: 25%;
    z-index: 10000;
    background-color: white;
    opacity: .8;
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, .8);
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    max-height:100%;
    min-width:250px;
}
#controls table.controls{width:100%;    border-spacing: 0px;}
#controls table>caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 110%;
}
#controls table.controls input{padding:0px 3px;font-size:90%;text-align:right;box-sizing: border-box; }
#controls table.controls tr.datetime input{}
#controls table.controls tr.datetime input:first-of-type{min-width:5.6em;width:58%;}
#controls table.controls tr.datetime input:last-of-type{min-width:3.1em;width:38%;}
#controls table.controls tr>td{padding:0px;}
#controls table.controls tr>td:first-of-type{padding-right:5px;width:40%;}
#controls table.controls tr:first-of-type input{width:97.5%;}

#controls table.controls td.buttons{padding-top:15px;}
#controls table.controls td.buttons>button[disabled]{cursor:not-allowed;opacity: .4}
#controls table.controls td.buttons>button.loading{cursor:wait;}
#controls table.controls td.buttons>*:not([type=file]){height:42px;min-width:5.2em;display:inline-block;vertical-align: middle;margin-bottom: 4px;font-size:1em;padding: 5px 20px;position:relative;white-space: nowrap;cursor:pointer;}
#controls table.controls td.buttons>button>noData{cursor:help;display:none;width:16px;height:16px;background-size: contain;background-image: url(./../img/cancel.png)}
#controls table.controls td.buttons>button>smallLoader{position:absolute;top: .5em;left: calc(50% - 8px);display:none;width:16px;height:16px;background-image: url(./../img/smallLoader.gif)}
#controls table.controls td.buttons>#csv{width:0px;padding:0px;}
#controls table.controls td.buttons>#cellTowers{padding:0px;}
#controls table.controls td.buttons>#oneCellTower{min-width:10.65em;padding:0px;}
#controls table.controls td.buttons>#oneCellTower>input{font-size:80%;width:70px;margin-top:3px;}

#controls table.controls td.buttons button img{width:1.5em;height:1.5em;}
#controls table.controls td.buttons button.csv{padding:0px}
#controls table.controls td.buttons button.csv>label{cursor:pointer;width: 100%;height: 100%;display: block;}
#controls table.controls td.buttons button.csv>label>*{margin-top:4px;}
#controls table.controls td.buttons button#clear{padding-top:4px}

#controls table.controls td.buttons button>*{vertical-align: middle}
#controls table.controls td.buttons button>*>*{vertical-align: middle}

div#info{min-height: 0;display:flex;flex-direction:column;}
div#info>*:nth-child(1){margin-top:10px;}



div#info>ul>li>i{display:inline-block;margin-right:4px;}
div#info>ul>li:hover{color:rgba(0,0,0, .5);}
div#info>ul>li.hoverLike{font-weight:bold;}
div#pointInfo{display:none;border-radius: 0px 0px 0px 10px;border:1px dashed gray;position:relative;padding:10px 5px 4px;font-size:90%;}
div#pointInfo:before{padding: 0px 5px;content:"Информация по точке";background-color:white;position:absolute;font-size: 90%;top: -9px;left: 8px;}

#msisdn{min-width:7.2em;}
#msisdn.error, input[id^=cellTower].error{border-color:red;}

#putIvansNumber{cursor:default;}


#settingsLoadError{margin-top: 30%;   text-align: center;    width: 100%;font-size:400%;}
#settingsLoadError>span{font-size:30%;font-style:italic;font-weight:normal;}
#settingsLoadError>pre{border: 1px dashed gray;font-size: 20%;font-weight: normal;display: block;margin: 0px 29%;overflow: auto;padding: 10px;}

div#info>scrollable{min-height: 0;overflow: auto}
div#info>ul{margin:0px;overflow: auto;margin-right:-20px;flex:1;min-height:0;padding:0px;}
div#info>ul>li{list-style-type:none;font-size:85%;
	cursor: url(./../img/toBuffer.png) 2 2, auto;
	display:inline-block;}

table.points{border-spacing: 0px;font-size:80%;width:100%;}
total{display:block;font-size:75%;text-align:left;font-weight:bold;margin-bottom:5px;}

table.points tr>td{padding:3px 4px;text-align:right;font-size:90%;color:gray;}
table.points tbody tr>td:first-of-type{cursor:default;font-size:90%;color:darkgray;text-align:right}
table.points tbody tr>td:nth-child(2){display:none;}
table.points tbody tr>td:nth-child(3){display:none;}
table.points tbody tr>td:nth-child(4){padding-left:10px;}
table.points tr>td{border:1px dotted lightgray;}
table.points tr>td:first-of-type{border-left: none;}
table.points tr:last-of-type>td{border-bottom: none;}
table.points tr>td:last-of-type{border-right:none;}
table.points>thead tr td{text-align:center;color:black;font-weight:bold;border-top:none;padding: 4px 3px;}

table.points thead td:first-letter{text-transform: uppercase;}
table.points thead tr>td:last-of-type{padding-left:5px;}

table.points tbody tr:hover>td, table.points tbody tr.hoverLike>td{color:black;font-style:italic;border-color:black;border-style: dashed}
table.points tbody tr:hover>td:first-of-type, table.points tbody tr.hoverLike>td:first-of-type{border-left:none;}
table.points tbody tr:hover>td:last-of-type, table.points tbody tr.hoverLike>td:last-of-type{border-right:none;}
table.points tbody tr:last-of-type:hover>td, table.points tbody tr:last-of-type.hoverLike>td{border-bottom:none;}

table.points tbody tr>td:nth-child(1):before{
	counter-increment: pointNum;
	content: counter(pointNum);
}

.totalWrapper>*{display:inline-block;vertical-align:middle;}
.totalWrapper>.downloadCsv>img{height:20px;margin-left: 20px}

#tmpForCsv tbody tr>td:nth-child(1){display:none;}

#errors{position:absolute;bottom:10px;right:10px;z-index:10000;}
#errors>error{background-color:red;display: block;padding:20px;color:white;}
#errors>error:not(:last-of-type){margin-bottom:10px;}
#errors>error>p{padding:0px;margin:0px;}