html, body {
	height: 100%;
	margin: 0;
	font-family: Arial;
	font-size: 20px
}
body{
	display:flex;
}

#map {
	flex: 75%;
	height: 100%;
	
}
.leaflet-right{right:calc(25% + 40px);}
#ui-datepicker-div{z-index:10000 !important;}
#map.loading{background-color: lightgray}
.myTooltip{
	border-color: red;
	border-radius: 10px	 
}
#controls{
	border-radius: 0px 0px 0px 30px;
	position: absolute;
    padding: 20px;
    top: 0px;
    right: 0px;
    width: 25%;
    z-index: 10000;
    background-color: white;
    opacity: .8;
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, .8);
}
#controls table{width:100%;margin-bottom:20px;}
#controls table>caption{text-align: left;font-weight:bold;margin-bottom:15px;font-size:110%;}

#controls table input{padding:0px 3px;font-size:90%;text-align:right;box-sizing: border-box; }
#controls table tr.datetime input{}
#controls table tr.datetime input:first-of-type{min-width:5.6em;width:58%;}
#controls table tr.datetime input:last-of-type{min-width:3.1em;width:38%;}
#controls table tr>td{padding:0px;}
#controls table tr>td:first-of-type{padding-right:5px;width:40%;}
#controls table tr:first-of-type input{width:97.5%;}

#controls table td.buttons{padding-top:15px;}
#controls table td.buttons>button[disabled]{cursor:not-allowed;opacity: .4}
#controls table td.buttons>button.loading{cursor:wait;}
#controls table td.buttons>button{height:42px;min-width:5.2em;display:inline-block;vertical-align: middle;margin-bottom: 4px;font-size:1em;padding: 5px 20px;position:relative;white-space: nowrap;cursor:pointer;}
#controls table td.buttons>button>noData{cursor:help;display:none;width:16px;height:16px;background-size: contain;background-image: url(./img/cancel.png)}
#controls table td.buttons>button>smallLoader{position:absolute;top: .5em;left: calc(50% - 8px);display:none;width:16px;height:16px;background-image: url(./img/smallLoader.gif)}
#controls table td.buttons>#csv{width:0px;padding:0px;}
#controls table td.buttons>#cellTowers{width:0px;padding:0px;}

#controls table td.buttons button img{width:1.5em;height:1.5em;}
#controls table td.buttons button.csv{padding:0px}
#controls table td.buttons button.csv>label{cursor:pointer;width: 100%;height: 100%;display: block;}
#controls table td.buttons button.csv>label>*{margin-top:4px;}
#controls table td.buttons button#clear{padding-top:4px}

#controls table td.buttons button>*{vertical-align: middle}
#controls table td.buttons button>*>*{vertical-align: middle}


div#pointInfo{border-radius: 0px 0px 0px 10px;border:1px dashed gray;position:relative;padding:10px 5px 4px;font-size:90%;}
div#pointInfo:before{padding: 0px 5px;content:"Информация по точке";background-color:white;position:absolute;font-size: 90%;top: -9px;left: 8px;}

#msisdn{min-width:7.2em;}
#msisdn.error{border-color:red;}

#putIvansNumber{cursor:default;}


#settingsLoadError{margin-top: 30%;   text-align: center;    width: 100%;font-size:400%;}
#settingsLoadError>span{font-size:30%;font-style:italic;font-weight:normal;}
#settingsLoadError>pre{border: 1px dashed gray;font-size: 20%;font-weight: normal;display: block;margin: 0px 29%;overflow: auto;padding: 10px;}