html, body {
	height: 100%;
	margin: 0;
}
#map {
	width: calc(100% - 310px);
	height: 100%;
	float:left;
}
.myTooltip{
	border-color: red;
	border-radius: 10px	 
}
#controls{width: 300px;margin-left: calc(100% - 300px);}
#controls>table{width:100%;}
#controls>h4{padding:0px;margin:0px 0px 10px;}
#ui-datepicker-div{z-index:1000;}
table tr.datetime input{width:45%;}
table tr.datetime>td:first-of-type{font-size:70%;}
dataTypeSelector{display:block;font-size:70%;width:100%;}
dataTypeSelector label{cursor:pointer;display:inline;margin-right:10px;}
dataTypeSelector label>*{vertical-align: middle;display:inline-block;}
