html, body {
	height: 100%;
	margin: 0;
	font-family: Arial;
	font-size: 18px
}
body{
	display:flex;
}

#map {
	flex: 75%;
	height: 100%;
	
}
.myTooltip{
	border-color: red;
	border-radius: 10px	 
}
#controls{flex: 25%;padding:15px 20px;}
#controls table{width:100%;margin-bottom:20px;}
#controls table>caption{text-align: left;font-weight:bold;margin-bottom:15px;font-size:110%;}
#ui-datepicker-div{z-index:1000;}
table input{padding:0px 3px;font-size:90%;text-align:right;box-sizing: border-box; }
table tr.datetime input{width:48%;}
table tr.datetime input:first-of-type{min-width:95px;}
table tr.datetime input:last-of-type{min-width:45px;}
table tr>td{padding:0px;}
table tr>td:first-of-type{padding-right:5px;width:20%;}
table tr:first-of-type input{width:97.5%;}
table td.buttons>*{display:inline-block;vertical-align: middle;margin-bottom: 4px;}
table td.buttons>*[disabled]{cursor:wait;}
table td.buttons>*{font-size:120%;padding: 5px 20px;position:relative;white-space: nowrap;cursor:pointer;}
table td.buttons>*>noData{cursor:help;display:none;width:16px;height:16px;background-size: contain;background-image: url(./img/cancel.png)}
table td.buttons>*>smallLoader{position:absolute;top: .5em;left: 1em;display:none;width:16px;height:16px;background-image: url(./img/smallLoader.gif)}
table td.buttons>#csv{width:0px;padding:0px;}
table td.buttons button.csv{padding-top:0px;padding-bottom:0px}
table td.buttons button.csv img{height: 1.4em;position:relative;top:3px;}

div#pointInfo{border:1px dashed gray;position:relative;padding:10px 5px 4px;font-size:90%;}
div#pointInfo:before{content:"Информация по точке";background-color:white;position:absolute;font-size: 90%;top: -9px;left: 8px;}

#msisdn{min-width:110px;}
#msisdn.error{border-color:red;}

#putIvansNumber{cursor:default;}


#settingsLoadError{margin-top: 30%;   text-align: center;    width: 100%;font-size:400%;}
#settingsLoadError>span{font-size:30%;font-style:italic;font-weight:normal;}
#settingsLoadError>pre{border: 1px dashed gray;font-size: 20%;font-weight: normal;display: block;margin: 0px 29%;overflow: auto;padding: 10px;}